.container {
  clear: both;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 70px 0px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  max-height: 2000px;
  opacity: 1;
}

.sp-g-solution-topics__container__title {
  font-size: 30px;
  font-weight: 700;
  color: #000;
  padding-bottom: 15px;
  text-align: center;
}

.content {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul.container_items {
  overflow: hidden;
  font-size: 0;
  margin: 0px 4%;
}
ul.container_items li  {
  display: inline-flex;
  width: 21%;
  vertical-align: top;
  margin-right: -4px;
  font-size: 18px;
  font-weight: 700;
  color: #222;
  text-align: left;
  margin: 0px 2%;
  cursor: pointer;
  padding: 50px 0 24px 0;
  border-bottom: 1px solid #D2D2D2;

}

svg {
  width: 34px;
  height: 34px;
  border: none;
  margin-right: 20px;
}
svg:not(:root) {
  overflow: hidden;
}

span {
  /* margin: 0; */
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: table-cell;
  vertical-align: middle;
}

.content__container {
  display: table;
}

#expand{
  clear:both;
}

.sp-g-solution-topics__container__title {
  font-size: 30px;
  font-weight: 700;
  color: #000;
  padding-bottom: 15px;
  text-align: center;
}
