<app-all-service></app-all-service>
<br/>
<br/>
<br/>
<!--<section class="sp-g-featured-container section">-->
  <!--<div>-->
    <!--<div class="sp-g-featured-container__container">-->
      <!--<div class="container sp-g-featured-container__container_wrap">-->
        <!--<div class="grid">-->
          <!--<div class="col-lg-3">-->
            <!--<div>-->
              <!--<section class="sp-g-featured-element section">-->
                <!--<div class="sp-g-featured-element__container">-->
                  <!--<div class="sp-g-featured-element__container__upper">-->
                    <!--<div class="sp-g-featured-element__container__upper__img">-->
                      <!--<picture>-->
                        <!--<source srcset="//s7d2.scene7.com/is/image/SamsungUS/Samsung-Support_Contact-Us_Desktop_Online_LiveChat-1?$contact-us-featured-element-png$" media="(min-width: 769px)">-->
                        <!--<img itemprop="image" srcset="//s7d2.scene7.com/is/image/SamsungUS/Samsung-Support_Contact-Us_Desktop_Online_LiveChat-1?$contact-us-featured-element-png$" alt="Ask the community" title="Ask the community">-->
                      <!--</picture>-->
                    <!--</div>-->
                    <!--<div class="sp-g-featured-element__container__upper__icon">-->
                      <!--<div class="sp-g-featured-element__container__upper__icon__inner">-->
                        <!--<img src="../../jpg/Community01.svg">-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="sp-g-featured-element__container__lower" style="height: 323px">-->
                    <!--<div class="sp-g-featured-element__container__mobile">-->

                      <!--<div>-->
                        <!--<h2 class="sp-g-featured-element__header" style="">Ask the community</h2>-->
                        <!--<p class="sp-g-featured-element__para type-p2" style="height: 85px;">Browse answers, ask questions and get solutions from other Samsung customers.</p>-->
                      <!--</div>-->
                      <!--&lt;!&ndash; <span class="sp-g-featured-element__container__mobile__link&#45;&#45;icon sp-g-featured-element__container__mobile__arrow__down sp-g-featured-element__container__mobile__arrow__up"></span> &ndash;&gt;-->
                      <!--<a href="https://us.community.samsung.com/" target="_blank" class="sp-g-featured-element__button white-button cta-button" data-link_cat="join discussion" data-link_id="ask_the_community_join discussion" data-link_meta="link_name:join discussion" data-link_position="ask_the_community">-->
                        <!--Join Discussion-->
                      <!--</a>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</section>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->


<div class="questionCards">
  <div class="ui link cards grid">
    <div class="card col-md-3" id="card1">
      <div class="image">
        <img src="http://s7d2.scene7.com/is/image/SamsungUS/Samsung-Support_Contact-Us_Desktop_Online_LiveChat-1?$contact-us-featured-element-png$">
      </div>
      <div class="content">
        <div class="header">Ask the Community</div>
        <div class="description">
          Browse answers, ask questions and get solutions from other Samsung customers.
        </div>
      </div>
      <div class="extra content">
        <a href="#"><button class="ui basic button">
          JOIN DISCUSSION
        </button></a>
      </div>
    </div>
    <div class="card col-md-3">
      <div class="image">
        <img src="http://s7d2.scene7.com/is/image/SamsungUS/service-request-tv-370x233?$contact-us-featured-element-png$">
      </div>
      <div class="content">
        <div class="header">Schedule and track service</div>
        <div class="description">
          Start a service request or track the progress of a request you've made.
        </div>
      </div>
      <div class="extra content">
        <a href="#"><button class="ui basic button">
          MANAGE SERVICE
        </button></a>
      </div>
    </div>
    <div class="card col-md-3">
      <div class="image">
        <img src="http://s7d2.scene7.com/is/image/SamsungUS/service-locator-tv%20-Audio-370x233?$contact-us-featured-element-png$">
      </div>
      <div class="content">
        <div class="header">Find a repair center</div>
        <div class="description">
          Bring your mobile device or tablet to a repair center near you.
        </div>
      </div>
      <div class="extra content">
        <a href="#"><button class="ui basic button">
          LOCATE A REPAIR CENTER
        </button></a>
      </div>
    </div>
    <!--<div class="card col-md-3">-->
      <!--<div class="image">-->
        <!--<img src="http://s7d2.scene7.com/is/image/SamsungUS/in-home-service-HA-370x233?$contact-us-featured-element-png$">-->
      <!--</div>-->
      <!--<div class="content">-->
        <!--<div class="header">Get remote support</div>-->
        <!--<div class="description">-->
          <!--Take advantage of Remote Support for TVs, mobile phones and tablets.-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="extra content">-->
        <!--<a href="#"><button class="ui basic button">-->
          <!--GET STARTED-->
        <!--</button></a>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
