img {
  height: 25px;
  width: 25px;
}

.row {
  list-style: none;
}

.content__options {
  height: 400px;
}

.contents {
  font-size: 13px;
}

h3 {
  font-size: 20px;
}

.cta-holder {
  padding: 20px;
}
