<div class="sp-g-contact-us__container__content__options">
  <ul>
    <li>
      <div class="contents">

        <h3>Social Support</h3>
        <p>Contact us on Twitter or Facebook and we'll reply with an answer to your question or issue.</p>
      </div>
      <div class="cta-holder">


        <a href="https://www.facebook.com/samsungsupport" class="social-link" target="_blank" data-link_cat="sub nav category" data-link_id="sub_nav_category_CONTACT_US_FOR_SUPPORT_samsungsupport" data-link_meta="link_name:CONTACT US FOR SUPPORT>/samsungsupport" data-link_position="sub nav category">

          <img src="../../../assets/image/icon_fb@2x.png" title="facebook" alt="alt1"> /samsungsupport
        </a>



        <a href="https://twitter.com/SamsungSupport" class="social-link" target="_blank" data-link_cat="sub nav category" data-link_id="sub_nav_category_CONTACT_US_FOR_SUPPORT_samsungsupport" data-link_meta="link_name:CONTACT US FOR SUPPORT>@samsungsupport" data-link_position="sub nav category">

          <img src="../../../assets/image/icon_twitter@2x.png" alt="alt2"> @samsungsupport
        </a>
      </div>
    </li>
    <li>
      <div class="contents">

        <h3>Ask the Community</h3>
        <p>Browse answers, ask questions and get solutions from other Samsung customers.</p>
      </div>
      <div class="cta-holder">


        <a href="https://us.community.samsung.com/" class="cta" target="_blank" data-link_cat="sub nav category" data-link_id="sub_nav_category_CONTACT_US_FOR_SUPPORT_JOIN_DISCUSSION" data-link_meta="link_name:CONTACT US FOR SUPPORT>JOIN DISCUSSION" data-link_position="sub nav category">

          JOIN DISCUSSION
        </a>
      </div>
    </li>
    <li>
      <div class="contents">

        <h3>Chat with us</h3>
        <p>Live Chat support with a Samsung product expert.</p>
      </div>
      <div class="cta-holder">



        <a class="cta livechat" data-link_cat="sub nav category" data-link_id="sub_nav_category_CONTACT_US_FOR_SUPPORT_START_SESSION" data-link_meta="link_name:CONTACT US FOR SUPPORT>START SESSION" data-link_position="sub nav category">

          START SESSION
        </a>
      </div>
    </li>
    <li>
      <div class="contents">

        <h3 >Send us an Email</h3>
        <p>We’ll respond within 24 hours of your request.</p>
      </div>
      <div class="cta-holder liveemail" (click)="ClickButton()">
        <a class="cta" data-link_cat="contact us module" data-link_id="contact_us_module_EMAIL SUPPORT" data-link_meta="link_name:EMAIL SUPPORT" data-link_position="contact us module">
          EMAIL SUPPORT
        </a>
      </div>
    </li>
  </ul>
</div>
