<div class="container">
  <div class="title">
    <h2 style="font-size: 35px;">How would you like to contact us?</h2>
  </div>
  <div class="content row">


    <div class="col-lg-5">
      <app-contact-info></app-contact-info>
    </div>
    <div class="col-lg-7">
      <app-support-section></app-support-section>
    </div>
  </div>

  <!--<popup>-->
    <!--<div class="sp-g-contact-us__container__blue__email_content">-->

      <!--<div>-->
        <!--Want help right away?-->
      <!--</div>-->


      <!--<div>-->
        <!--Chat with a Samsung representative to get an immediate response or send us an email and we will get back to you within 24 hours-->
      <!--</div>-->


      <!--<div class="sp-g-contact-us__container__blue__email_content__btn">-->



        <!--<a class="cta-button livechat needsclick" data-link_cat="chat now" data-link_id="interstital_email_chat_now" data-link_meta="link_name:chat now" data-link_position="interstital chat">-->
          <!--Chat Now-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</popup>-->
</div>
