<div class="sp-g-contact-us__container">
  <div class="sp-g-contact-us__container__title">
    <h2>How would you like to contact us?</h2>
  </div>
  <div class="sp-g-contact-us__container__content row">
    <!--<div class="sp-g-contact-us__container__content__contact">-->

      <!--<div class="contact__phone">-->

        <!--<span class="icon"><img src="../../../assets/image/call.png" title="call us title" alt="call us alt"></span>-->
        <!--<span class="heading">1-800-SAMSUNG</span>-->
        <!--<span class="subhead">(1-800-726-7864)</span>-->

      <!--</div>-->



      <!--<div class="contact__week">-->
        <!--<span>Mon - Fri : 8AM -12 AM (EST)</span> <span>Sat - Sun : 9AM -11 PM (EST)</span>-->
      <!--</div>-->
      <!--<div class="contact__note">24 hour support available for mobile devices</div>-->





    <!--</div>-->

    <!--<div class="sp-g-contact-us__container__content__options">-->
      <!--<ul>-->
        <!--<li>-->
          <!--<div class="contents">-->

            <!--<h3>Social Support</h3>-->
            <!--<p>Contact us on Twitter or Facebook and we'll reply with an answer to your question or issue.</p>-->
          <!--</div>-->
          <!--<div class="cta-holder">-->


            <!--<a href="https://www.facebook.com/samsungsupport" class="social-link" target="_blank" data-link_cat="sub nav category" data-link_id="sub_nav_category_CONTACT_US_FOR_SUPPORT_samsungsupport" data-link_meta="link_name:CONTACT US FOR SUPPORT>/samsungsupport" data-link_position="sub nav category">-->

              <!--<img src="../../../assets/image/icon_fb@2x.png" title="facebook" alt="alt1"> /samsungsupport-->
            <!--</a>-->



            <!--<a href="https://twitter.com/SamsungSupport" class="social-link" target="_blank" data-link_cat="sub nav category" data-link_id="sub_nav_category_CONTACT_US_FOR_SUPPORT_samsungsupport" data-link_meta="link_name:CONTACT US FOR SUPPORT>@samsungsupport" data-link_position="sub nav category">-->

              <!--<img src="../../../assets/image/icon_twitter@2x.png" alt="alt2"> @samsungsupport-->
            <!--</a>-->
          <!--</div>-->
        <!--</li>-->
        <!--<li>-->
          <!--<div class="contents">-->

            <!--<h3>Ask the Community</h3>-->
            <!--<p>Browse answers, ask questions and get solutions from other Samsung customers.</p>-->
          <!--</div>-->
          <!--<div class="cta-holder">-->


            <!--<a href="https://us.community.samsung.com/" class="cta" target="_blank" data-link_cat="sub nav category" data-link_id="sub_nav_category_CONTACT_US_FOR_SUPPORT_JOIN_DISCUSSION" data-link_meta="link_name:CONTACT US FOR SUPPORT>JOIN DISCUSSION" data-link_position="sub nav category">-->

              <!--JOIN DISCUSSION-->
            <!--</a>-->
          <!--</div>-->
        <!--</li>-->
        <!--<li>-->
          <!--<div class="contents">-->

            <!--<h3>Chat with us</h3>-->
            <!--<p>Live Chat support with a Samsung product expert.</p>-->
          <!--</div>-->
          <!--<div class="cta-holder">-->



            <!--<a class="cta livechat" data-link_cat="sub nav category" data-link_id="sub_nav_category_CONTACT_US_FOR_SUPPORT_START_SESSION" data-link_meta="link_name:CONTACT US FOR SUPPORT>START SESSION" data-link_position="sub nav category">-->

              <!--START SESSION-->
            <!--</a>-->
          <!--</div>-->
        <!--</li>-->
        <!--<li>-->
          <!--<div class="contents">-->

            <!--<h3 >Send us an Email</h3>-->
            <!--<p>We’ll respond within 24 hours of your request.</p>-->
          <!--</div>-->
          <!--<div class="cta-holder liveemail" (click)="ClickButton()">-->
            <!--<a class="cta" data-link_cat="contact us module" data-link_id="contact_us_module_EMAIL SUPPORT" data-link_meta="link_name:EMAIL SUPPORT" data-link_position="contact us module">-->
              <!--EMAIL SUPPORT-->
            <!--</a>-->
          <!--</div>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
    <div class="col-lg-6">
      <app-contact-info></app-contact-info>
    </div>
    <div class="col-lg-6">
      <app-support-section></app-support-section>
    </div>
  </div>

  <!--<popup>-->
    <!--<div class="sp-g-contact-us__container__blue__email_content">-->

      <!--<div>-->
        <!--Want help right away?-->
      <!--</div>-->


      <!--<div>-->
        <!--Chat with a Samsung representative to get an immediate response or send us an email and we will get back to you within 24 hours-->
      <!--</div>-->


      <!--<div class="sp-g-contact-us__container__blue__email_content__btn">-->



        <!--<a class="cta-button livechat needsclick" data-link_cat="chat now" data-link_id="interstital_email_chat_now" data-link_meta="link_name:chat now" data-link_position="interstital chat">-->
          <!--Chat Now-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</popup>-->
</div>
