<div>
  <!--<img [src]="premiumCareHead" alt="head" id="careHead">-->
  <div id="premiumCare" [style.background-image]="'url(' + premiumCareHead + ')'">
      <div id="careDetail">
      <h4 id="careContentTitle">A whole new kind of care </h4>
      <p id="careContent">With Samsung Premium Care, you get more than just protection for your Galaxy
        S8—you get a team of experts ready to come to you for setup, troubleshooting and replacements.
        Get your first month of Samsung Premium Care free  when you get a Galaxy S8*</p>
      <div style="margin:0 auto;width:200px;">
        <button type='button' class="btn btn-primary btn-circle" id="btn">LEARN MORE</button>
      </div>
    </div>
  </div>
  <!--<br/>-->
    <img [src]="careContentPic" alt="carePic" id="careContentPic">

</div>
