<div class="content__contact">

  <div class="contact__phone">

    <span class="icon"><img src="../../../assets/image/call.png" title="call us title" alt="call us alt"></span>
    <span class="heading">1-800-SAMSUNG</span><br>
    <span class="subhead">(1-800-726-7864)</span>

  </div>



  <div class="contact__week">
    <span>Mon - Fri : 8AM -12 AM (EST)</span> <br/>
    <span>Sat - Sun : 9AM -11 PM (EST)</span>
  </div>
  <div class="contact__note">24 hour support available for mobile devices</div>
</div>
